/* ----------------------------------------- */
/* GLOBAL */
/* ----------------------------------------- */

* {
    color: white;
    font-family: "Helvetica";
    font-size: 24px;
}

html {
    background-color: #c0c0c0;
}

.display, .button {
    border-radius: 8px;
}

/* ----------------------------------------- */
/* CALCULATOR */
/* ----------------------------------------- */

#container {
    background-color: #5b5b5b;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 10px 10px 5px gray;
    margin: 120px auto;
    padding: 10px;
    width: 300px;
}

/* makes buttons and display not selectable */
.button, .display {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* ----------------------------------------- */
/* DISPLAY */
/* ----------------------------------------- */

.display {
    background-color: #7b7b7b;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(53, 53, 53); 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#displayTop {
    font-size: 18px;
    min-height: 40px;
}

#displayBottom {
    font-size: 46px;
    min-height: 53px;
}

/* ----------------------------------------- */
/* BUTTONS */
/* ----------------------------------------- */

#buttons {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.button {
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(33, 33, 33);
    display: flex;
    height: 60px;
    justify-content: center;
    text-shadow: 1px 1px grey;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    box-shadow: 1px 1px 1px rgb(33, 33, 33);
    opacity: 0.6;
    transform: translateY(0.9px);
}

.operator, #dot, #equal, #changeSign{
    background-color: #ffb833;
}

#clear {
    background-color: #ff4d4d;
}

#cancel {
    background-color: #ff7979;
}

.digit {
    background-color: #a1a1a1;
    font-size: 30px;
}

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */

.footer {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: auto;
    width: fit-content;
}

footer, #currentYear{
    font-size: 18px;
    text-align: center;
}

#gitHubImg {
    height: 20px;
}