/* ----------------------------------------- */
/* GLOBAL */
/* ----------------------------------------- */

* {
    font-family: "Helvetica";
    font-size: 24px;
    color: white;
}

html {
    background-color: #c0c0c0;
}


.display, .button {
    border-radius: 8px;
}


/* ----------------------------------------- */
/* CALCULATOR */
/* ----------------------------------------- */

#container {
    border-radius: 16px;
    box-shadow: 10px 10px 5px gray;
    margin: auto;
    width: 300px;
    margin: 120px auto;
    padding: 10px;
    background-color: #5b5b5b;
    border: 2px solid black;
}

/* ----------------------------------------- */
/* DISPLAY */
/* ----------------------------------------- */

/* contains the top and bottom displays */
.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 80px;
    padding: 10px;
    background-color: #7b7b7b;
    box-shadow: 1px 1px 1px rgb(53, 53, 53);
}

#displayTop {
    height: 40px;
    font-size: 18px;
}

#displayBottom {
    height: 40px;
    font-size: 46px;
}

/* ----------------------------------------- */
/* BUTTONS */
/* ----------------------------------------- */

#clear {
    background-color: #ff4d4d;
}

#cancel {
    background-color: #ff7979;
}

.digit {
    background-color: #a1a1a1;
    font-size: 30px;
}

.operator, #dot, #equal, #changeSign{
    background-color: #ffb833;
}

#buttons {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, 1fr);
    

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 60px;
    box-shadow: 1px 1px 1px rgb(33, 33, 33);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.button>p {
    text-align: center;
}


footer {
    font-size: 18px;
    text-align: center;
}